<section id="description" class="description">
  <div class="container">
    <h2 class="play-title">How to Play</h2>
    <p class="play-subtitle">
      Easy to learn, but those big combos? Chef's kiss.
    </p>

    <ul class="play-list">
      <li class="play-list-item">
        <div class="box-svg">
          <svg class="play-list-item-svg" width="36" height="36">
            <use href="./img/sprite.svg#icon-swap-tiles"></use>
          </svg>
        </div>
        <div class="item-text">
          <h3 class="play-list-item-tag">Swap Puzzle Pieces</h3>
          <p class="play-list-item-text">
            Match three or more identical tiles.
          </p>
        </div>
        <span class="number" aria-hidden="true">1</span>
      </li>
      <li class="play-list-item">
        <div class="box-svg">
          <svg class="play-list-item-svg" width="36" height="36">
            <use href="./img/sprite.svg#icon-combo"></use>
          </svg>
        </div>
        <div class="item-text">
          <h3 class="play-list-item-tag">Trigger Combo Chains</h3>
          <p class="play-list-item-text">
            Large combinations activate explosive effects.
          </p>
        </div>
        <span class="number" aria-hidden="true">2</span>
      </li>
      <li class="play-list-item">
        <div class="box-svg">
          <svg class="play-list-item-svg" width="36" height="36">
            <use href="./img/sprite.svg#icon-target"></use>
          </svg>
        </div>
        <div class="item-text">
          <h3 class="play-list-item-tag">Complete Objectives</h3>
          <p class="play-list-item-text">
            Clear specific targets to finish levels.
          </p>
        </div>
        <span class="number" aria-hidden="true">3</span>
      </li>
      <li class="play-list-item">
        <div class="box-svg">
          <svg class="play-list-item-svg" width="36" height="36">
            <use href="./img/sprite.svg#icon-rocket"></use>
          </svg>
        </div>
        <div class="item-text">
          <h3 class="play-list-item-tag">Use Special Boosters</h3>
          <p class="play-list-item-text">
            Unlock rockets, bombs, and combo multipliers.
          </p>
        </div>
        <span class="number" aria-hidden="true">4</span>
      </li>
      <li class="play-list-item">
        <div class="box-svg">
          <svg class="play-list-item-svg" width="36" height="36">
            <use href="./img/sprite.svg#icon-stairs"></use>
          </svg>
        </div>
        <div class="item-text">
          <h3 class="play-list-item-tag">Progress Through Levels</h3>
          <p class="play-list-item-text">
            New mechanics and obstacles appear gradually.
          </p>
        </div>
        <span class="number" aria-hidden="true">5</span>
      </li>
    </ul>
  </div>
</section>
